#login-wrapper {
  .login-bg {
    background-image: url('https://coolbackgrounds.io/images/backgrounds/white/white-unsplash-9d0375d2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .loginPageSize {
    padding: 1.25rem 0;
  }

  .inputFocus:focus {
    box-shadow: none;
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .loginPageSize {
      padding: 0 15px;
    }

    .authGroup {
      flex-flow: column;
    }

    .regOrder {
      order: 1;
      margin-bottom: 0 !important;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      margin-top: 20px;
    }

    .loginOrder {
      order: 2;
      margin-bottom: 20px !important;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      padding: 3rem 1rem !important;
    }
  }
}
