@import '../../Assets/Scss/Variable.scss';

#dashboard-wrapper {
  table {
    border: 1px solid $gray-color;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    tr {
      background-color: $smoke-color;
      border: 1px solid $gray-color;
      padding: 0.35em;
    }
    th {
      font-size: 0.85em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      background: $darkGrey-color;
    }
    th,
    td {
      padding: 1.625em;
      text-align: center;
      border-right: 1px solid $gray-color;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    table {
      border: 0;
      thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      tr {
        border-bottom: 3px solid $gray-color;
        display: block;
        margin-bottom: 0.625em;
      }
      td {
        border-bottom: 1px solid $gray-color;
        display: block;
        font-size: 0.8em;
        text-align: right;
      }
      td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      td:last-child {
        border-bottom: 0;
      }
      th,
      td {
        border-right: none;
      }
    }
  }
}
